<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nightBackgroundColor</key>
	<string>85,85,85</string>
	<key>daytimeBackgroundColor</key>
	<string>230,230,230</string>
	<key>nightTextColor</key>
	<string>255,255,255</string>
	<key>daytimeTextColor</key>
	<string>0,0,0</string>
</dict>
</plist>
